.error{
    color: red;
}

.form {
    columns: 5% 2;
}

.label {
    margin: 5%;
    justify-self: left;
}

.submitButton{
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    gap: 5px;
    
}